body {
    background-color:#07f446;
}
h1 {
    color:orange;
    text-align:center;
}
span {
    color: red;
    font-family:"LiSu";
    font-size: xx-small;
}
div{
    background-color: #07f446;
}
mask{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color:rgba(149, 9, 9, 0.6);
    z-index:1008601;
    display:flex;
    align-items:center;
    justify-content:center
}